.font-size-14
{
    font-size: 14px;
}
.vertical-middle
{
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}

.tran-center
{
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
}

.flex-center
{
    display: -webkit-flex;
    display:         flex;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    justify-content: center;
}

.appearance-none
{
    border: 0;
    background-color: white;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.clearFix:after
{
    display: block;
    clear: both;

    content: '';
}
.img-responsive
{
    overflow: hidden;

    // max-width: 100%;
    height: 0;
    padding-bottom: 100%;

    background-color: #fff;
}
.font-size-10
{
    font-size: 12px;

    transform: scale(.8,.8);
}
.mask
{
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.5);
}
@mixin box-sizing ($sizing)
{
    -webkit-box-sizing: $sizing;
       -moz-box-sizing: $sizing;
            box-sizing: $sizing;
}
@mixin circle ($val)
{
    width: $val;
    height: $val;

    border-radius: $val;
}
@mixin width-calc ($val)
{
    width:         calc($val);
    width: -webkit-calc($val);
    width:    -moz-calc($val);
}
.sprite {
    background-image: url(http://ogf0xbf8w.bkt.clouddn.com/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite_selected {
    width: 14px;
    height: 14px;
    background-position: -2px -2px;
}

.sprite.people {
    width: 14px;
    height: 16px;
    background-position: -20px -2px;
}
