//colors

$font-light-gray: #a5a5a5;
$basic-gray:#EFEFF4;
$gray0:#CDD1D6;
$gray1:#BDC2C8;
$gray2:#D1D6DB;
$gray3:#BFC3C8;
// $basic-white:#fff;
$red0:#FF5572;
$orange:#FFBD6A;
$black1:#313131;
$gray4:#8F8E94;
$gray5:#BDC1C6;
$gray6:#6F6F6F;